.introPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(190, 190, 190);
}

.introContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100vw;
  overflow: hidden;  
}

.introLogoLeft, .introLogoRight, .introLogoTitle {
  width: 100vw;
  position: absolute;
  left: 0%;
  transition: left 1s;
  clip: rect(0vh,58vw,100vh,42vw);
}

.introLogoTitle {
  clip: rect(00vh,54vw,100vh,45vw);
  transition: clip 1s;  
}

.introContainer:hover > .introLogoTitle {
  clip: rect(0vh,96vw,100vh,5vw);
  transition: clip 1s;  
}

.introContainer:hover > .introLogoLeft {
  left: -40%;
  transition: left 1s;
}

.introContainer:hover > .introLogoRight {
  left: +40%;
  transition: left 1s;
}

@keyframes spin {
  0% {transform: translate(0%)}
  100% {transform: translate(-50%)}
}